<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Ionic Taxi</ion-title>
    <ion-toolbar>
      <ion-buttons start>
        <ion-toggle (ionChange)="remarker()"></ion-toggle>
      </ion-buttons>
      
    </ion-toolbar>
  </ion-navbar>

</ion-header>
<ion-content scroll="false" class="map-page">
  <it-map (onMapReady)="onMapReady();" (onMapIdle)="onMapIdle()" (onDragStart)="onDragStart()"></it-map>
  <div id="centerMarker" *ngIf="localized" (click)="Drop()" [hidden]="shouldHide" ></div>

</ion-content>
