.map-page {
  background: rgb(229, 227, 223);

  #gmaps {
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 150ms ease-in
  }

  #gmaps.show-map {
    opacity: 1;
  }

  #centerMarker {
  /*  width: 47px;
    height: 65px;
    display: block;
    content: ' ';
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -80px 0 0 -23px;
    background: url('/assets/img/origin.png');
    background-size: 47px 65px; /* Since I used the HiDPI marker version this compensates for the 2x size */
    //pointer-events: ; /* This disables clicks on the marker. Not fully supported by all major browsers, though */  #centerMarker {
    width: 22px;
    height: 40px;
    display: block;
    content: ' ';
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -40px 0 0 -11px;
    background: url('https://maps.gstatic.com/mapfiles/api-3/images/spotlight-poi_hdpi.png');
    background-size: 22px 40px; /* Since I used the HiDPI marker version this compensates for the 2x size */

  }
  
}
